# Git
.git
.gitignore

# Python
**/__pycache__/
**/.mypy_cache/
**/.ruff_cache/

# Virtual environments
**/venv/
**/.venv/

# IDE
**/.vscode/
**/.idea/
**/*.swp
**/*.swo

# OS
**/*.DS_Store
**/*.Thumbs.db

# Secrets
.env
.env.*
.secrets/

# Development files
**/*.egg-info/
**/build/
**/dist/

**/node_modules/
